@media (max-width: 300px) {
    #board button {
        visibility: hidden;
    }
}
    
@media (min-width: 300px) {
    #board button {
        width: 21px;
        height: 21px;
        border-radius: 21px;
        margin: 7px;
    }
}
    
@media (min-width: 600px) {
    #board button {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin: 10px;
    }
}

@media (min-width: 900px) {
    #board button {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        margin: 12px;
    }
}
    
@media (min-width: 1200px) {
    #board button {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        margin: 16px;
    }
}
    
@media (min-width: 1600px) {
    #board button {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        margin: 16px;
    }
}
    